:root {
    --azulnegro: #0E1422;
    --rosacoral: #EE80A7;
    --verdefresco: #53BA76;
    --background: #622944;
    --naranjaambar: #DE751E;
    --verdeneon: #08F30E;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
    padding: 20px;
}

.frontal {
    display: flex;
    border-radius: 10px;
    background: linear-gradient(-90deg, #622944, #0E1422);
    width: 600px;
    max-width: 100%;
    min-height: 200%;
}
.reverso{
    display: inline;
    border-radius: 10px;
    background: linear-gradient(-90deg, #622944, #0E1422);
    width: 600px;
    max-width: 100%;
    min-height: 200px;
    padding: 20px;
}
.encabezado{
    width: 50px;
    background: var(--azulnegro);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empresa{
    position: absolute;
    font-family: "Cormorant Infant", serif;
    text-transform: uppercase;/*Cambia el texto a mayúsculas*/
    letter-spacing: 3px;/*Darle un poco de separación entre letras*/
    transform: rotate(-90deg);
    color: var(--verdefresco);
    font-size: 2rem;/*tipologia consistente*/
    font-weight: 200;/*grosor de los caracteres del texto*/
    margin: 0;
    white-space: nowrap;/*evita saltos de linea del texto, hace que todo se mantenga en su contenedor*/
}
.imagen{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /*controla el desbordamiento de la imagen, ocultandolo*/
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;

}
.principal{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rol {
    display: flex;
    justify-content: center;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--rosacoral);
}
.nombrecompleto{
    display: flex;
    justify-content: center;
    color: var(--azulnegro);
    font-family: "Economica", sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: -5%;
}
.personal{
    display: flex;
    justify-content: space-between;
    color: var(--azulnegro);
    font-family: "Cormorant Infant", serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: -15%;
}
.info-emergencia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px 30px;
    color: var(--azulnegro);
    font-size: 20px;
}
.ciudad{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -5%;
}
.info-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.tecnologiafav{
    display: flex;
    font-size: 5rem;
    color: var(--naranjaambar);
    margin-left: -20%;
    margin-top: -10%;
}
.github{
    display: flex;
    font-size: 2rem;
    color: var(--rosacoral);
}
.correo{
    display: flex;
    font-size: 1.1rem;
    color: var(--verdefresco);
}
.insignia{
    color: var(--verdeneon);
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    min-width: 20px;
}
figure{
    position: relative;
    display: inline-block;
}
figure::after{
    content: "ONLINE";
    position: absolute;
    top: 60px;
    right: -25px;
    color: var(--verdeneon);
    padding: 4px 10px;
    border-radius: 20px;
    font-family: "Cormorant Infant", serif;
    font-size: 3rem;
    font-weight: 100;
    transform: rotate(-45deg);
}